on:
  push:
    branches:
      - main
      - rel-1877
      - sta-1877
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
jobs:
  build:
    uses: gardenlinux/package-build/.github/workflows/build.yml@main
    with:
      release: false #${{ github.ref == 'refs/heads/main' }}
      arch: '["amd64"]'
